mixin sHowWorks(data)
	// start sHowWorks
	+b.SECTION.sHowWorks.section#sHowWorks&attributes(attributes)
		.container
			+b.section-title
				h2 Как это работает?
			+e.row
				+e.col
					p #[span Торговая система максимально простая,] кому-то она даже покажется примитивной. Но она четкая, понятная, выверенная и, главное, она работает. 
					p В основе системы лежит возможность #[span заранее находить акции, в которых СЕГОДНЯ будет большая волатильность.]
					p Это делается очень быстро, #[span с помощью скринера.]
				.sAuthor__accent-wrap
					p Что значит «будет большая волатильность»?<br>Это значит, что Вы в начале торговой сессии знаете 4-6 акций, цена которых выстрелит именно сегодня.
			+e.row
				+e.col
					p Далее задача в течение #[span 1-3 часов наблюдать за этими акциями.] <br> Из этого списка дадут красивую точку входа #[span и выстрелят 1-2 акции.]
				.sAuthor__accent-wrap
					p Ненужные акции, как правило, отсеиваются <br>в первые полчаса наблюдения.
			+e.row
				+e.col
					p Дальше Вы ждете конкретный сигнал по одной или двум акциям, позволяющий определить #[span идеальную точку входа на 5-минутном графике.]
					p Эти акции обычно двигаются в течение дня по одному и тому же сценарию. Картинка настолько одинакова и предсказуема, что порой даже скучно.
				.sAuthor__accent-wrap
					p Вход в сделку очень простой. Думать, он <br>это или не он, не приходится.
			+e.row
				+e.col
					p Скука от предсказуемости исчезает сразу после входа в сделку. <br>#[span Акция отрабатывает очень быстро.] Вам сразу становится понятно – <br>правильный был вход или нет.
				.sAuthor__accent-wrap
					p Средняя длительность сделки всего <br>10-15 минут. Иногда даже 1-2 минуты.
			+e.row
				+e.col
					p Причем, у Вас есть #[span акции для работы каждый день.] <br>Вам нет необходимости стараться забрать все движение в сделке.
				.sAuthor__accent-wrap
					p Вы можете себе позволить лениво забрать <br>первое движение цены и сразу выйти.
			+e.cards-row.row
				.col-xl: +e.item.card-bordered
					p По такому алгоритму удается взять 
					.title.text-primary.h2 до 90% 
					p прибыльных сделок.
				.col-xl: +e.item.card-bordered
					p В сделке удается забрать в среднем
					.title.text-primary.h2 5-20%
					p прибыли к депозиту.
				.col-xl: +e.item.card-bordered
					.title.text-primary.h4 …и квартальные<br>бонусы!
	// end sHowWorks