mixin sLastChance(data)
	// start sLastChance
	+b.SECTION.sLastChance.section#sLastChance&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Уходящий шанс все&nbsp;поменять&nbsp;в&nbsp;Вашей жизни!
				p Вы дочитали до конца, но все еще сомневаетесь?<br>У Вас есть хорошее качество – Вы адекватный человек, умеющий изучать информацию и обучаться.<br> Вы знаете, что успех требует действий. Деньги сами себя не заработают.
			+e.item
				+e.title.text-center: h4 Чтобы добиться успеха в трейдинге, есть два пути:
				+e.colored-row.row
					+e.col.col-lg-6
						+coloredCard('долгий и тернистый, ', 'где Вы проходите через все ошибки самостоятельно, ищете много информации, учитесь на своем опыте, тратите много времени, нервов и денег;').--red
					+e.col.col-lg-6
						+coloredCard('короткий путь — ', 'качественное обучение, которое позволит Вам стартовать с успеха, сразу за финишной чертой.').--green
			+e.item
				.text-center: h4 На онлайн-практикуме «Точка входа» Вы получите:
			+e.item
				+e.pros-row.row
					+e.col.col-md-6.col-xl
						+advCard
							+e.text #[span Опыт и знания.]<br>Проверенную временем методику, которая приносит результат прямо сейчас.
					+e.col.col-md-6.col-xl
						+advCard
							+e.text #[span Экономию времени. ]<br>Получите все необходимое в одном месте, вместо того чтобы тратить годы на поиск работающих знаний.
					+e.col.col-md-6.col-xl
						+advCard
							+e.text #[span Поддержку и обратную связь.]  Длительную совместную практику на реальном рынке и возможность задавать вопросы, это поможет Вам достичь успеха уверенно.
					+e.col.col-md-6.col-xl
						+advCard
							+e.text #[span Первый доход во время обучения.]  Десятки моих учеников начинают зарабатывать деньги буквально через сутки после начала обучения.
			+e.item.item-btn
				.text-center
					p Время не ждет. Чем дольше Вы откладываете начало, тем больше возможностей упускаете. Присоединяйся к команде успешных трейдеров уже сегодня!
					h4 Точка входа в «Точку входа» здесь.
					p Жмите на кнопку и увидимся внутри:
					+btnBase('Хочу зарабатывать в трейдинге каждый день')
	// end sLastChance

mixin coloredCard(title, text)
	+b.colored-card&attributes(attributes)
		+e.title.h4=title 
		+e.text=text


mixin advCard(title, text)
	+b.adv-card&attributes(attributes)
		+img('img/svg/adv.svg').img
		if block
			block