// start .sLastChance
.sLastChance {
	// --sPT: #{rem()};
	// --sPB: #{rem(64)};
    --sPB: #{rem(0)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
    --sTPB: #{rem(60)};
    }
	
	&__colored-row{
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: var(--bs-gutter-x);
	}

	&__pros-row{
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: var(--bs-gutter-x);
	}

	.section-title {
		max-width: rem(1026);
    margin-left: auto;
    margin-right: auto;
    h2 {
      line-height: .9;
      margin-bottom: rem(40);
    }
	}

	&__title{
		margin-bottom: rem(40);
	}

	&__item{
		margin-bottom: rem(62);
	}
  .item-btn {
    h4 {
      margin-bottom: rem(16);
    }
    .btn {
      margin-top: rem(10);
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sLastChance

.colored-card {
  height: 100%;
  padding: rem(20);
	@include media-breakpoint-up(lg) {
    padding: rem(40);
  }

  &__text {
    line-height: 100%;
    @include media-breakpoint-up(lg) {
      font-size: rem(20);
    }
  }

  border-radius: $border-radius;

  &__title {
    line-height: 100%;
    margin-bottom: rem(24);
  }

  background: var(--bg-card-color);

  &--red {
    --bg-card-color: #{$red};
  }
  &--green {
    --bg-card-color: #{$green};
  }
}

.adv-card {
  height: 100%;
  padding: rem(24);
  background: $gray-700;
  border-radius: $border-radius;

  .img {
    margin-bottom: rem(24);
  }

  &__text {
    opacity: .7;
    @include media-breakpoint-up(lg) {
      font-size: rem(20);
    }
    span {
      font-weight: 700;
    }
  }
}