mixin sWhyUSA(data)
	// start sWhyUSA
	+b.SECTION.sWhyUSA.section#sWhyUSA&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Почему американский рынок?
				p Все просто. Чтобы ловить прибыль каждый день, #[span мне нужен большой выбор акций.]<br>На американском фондовом рынке торгуется порядка 11000 различных акций.<br>Среди них каждый день находятся те, которые вырастают на десятки процентов, даже если весь остальной рынок при этом летит вниз
			.text-center: .h4 Как торговать акциями США, если Вы из РФ?
			+e.row.row
				+e.col.col-lg-6
					+e.item.card-bordered
						.h5 Брокер Just2Trade – самый простой способ получить доступ к рынку США для россиян.
						ul.point
							li зарекомендовал себя многолетней работой, как надежный брокер;
							li хорошо понимает запросы российских клиентов;
							li дает доступ ко всем необходимым акциям США;
							li дает бесплатный торговый терминал MetaTrader 5;
							li нет проблем с вводом-выводом денег.
				+e.col.col-lg-6
					+e.item.card-bordered
						.h5 Как еще получить доступ к акциям США из РФ, если Вы не из тех, кто ищет легкие пути?
						ul.point
							li российский брокер Финам. Требуется статус квалифицированного инвестора, ограниченный список акций.
							li американский брокер Interactive Brokers. Трудности с вводом-выводом денег из РФ.
			+e.btn-wrap.text-center
				.h4 Как торговать акциями США, если Вы не из РФ?
				p Подойдет любой брокер, который даст Вам полный доступ к акциям рынков NYSE и NASDAQ.
				+btnBase('Хочу начать зарабатывать как можно быстрее')
	// end sWhyUSA