mixin sResults(data)
	// start sResults
	+b.SECTION.sResults.section#sResults&attributes(attributes)
		.container
			+e.top-row.row.mb-xl
				.col-xl-6
					h2 Результаты, подтвержденные публично
					h4 или сколько можно зарабатывать?
				.col-xl-6
					+e.item-wrap
						p #[span Я веду в реальном времени 2 Телеграм-канала] – открытый для всех и канал для моих учеников.
						p Ежедневно в начале торговой сессии #[span я скидываю<br>4-6 тикеров акций], которые могут выстрелить сегодня!
						p После торгов #[span я публикую разбор входов в сделки и выходов] в канале для учеников.
						+img('img/tg.png').tg
			+e.item.text-center
				h4 Подтвержденная статистика по акциям, которые я опубликовал в канале с начала 2024 года:
			+e.item
				+e.slider--js
					.swiper-wrapper
						+slideItemAuto('Январь 2024','69 тикеров','18 тикеров','232%')
						+slideItemAuto('Февраль 2024','99 тикеров','25 тикеров','743%')
						+slideItemAuto('Март 2024','95 тикеров','21 тикер','517%')
						+slideItemAuto('Апрель 2024','81 тикер','17 тикеров','419%')
						+slideItemAuto('Май 2024','103 тикера','27 тикеров','486%')
						+slideItemAuto('Июнь 2024','68 тикеров','17 тикеров','384%')
						+slideItemAuto('Июль 2024','84 тикера','19 тикеров','363%')
						+slideItemAuto('Август 2024','69 тикеров','15 тикеров','389%')
						+slideItemAuto('Сентябрь 2024','69 тикеров','15 тикеров','412%')
						+slideItemAuto('Октябрь 2024','112 тикеров','23 тикера','814%')
			+e.top-row.row
				.col-xl-6
					p Рекордная сделка по акциям DRUG состоялась в октябре 2024. 
					.h2 Акция принесла #[span +476%] прибыли за один день!
				.col-xl-6
					+e.item-wrap.wide
						p В среднем одна акция из четырех дает точку входа и следом растет в цене. Причем, половина акций первоначального списка падает сразу и не надо их ловить.
						.h4  #[span 22.67%] прибыли в среднем дала 1 выстрелившая акция.
	// end sResults

mixin slideItemAuto(month, t1, t2, sum)
	.swiper-slide: +b.slide-item-auto
		+e.title
			+icon('calendar')
			| #{month}
		+e.content 
			+e.item 
				.small Опубликовано в начале торговой сессии
				.h4= t1
			+e.item 
				.small Из них дали точку входа
				.h4= t2
			+e.item 
				.small Суммарная прибыль за месяц
				.h3.text-primary= sum