mixin sSlider(title, text)
	// start sSlider
	+b.SECTION.sSlider.section#sSlider&attributes(attributes)
		.container
			.section-wrap
				.section-title.text-center
					h4=title
					p=text
				if block
					block
