mixin sStudy(data)
	// start sStudy
	+b.SECTION.sStudy.section#sStudy&attributes(attributes)
		.container
			+e.top-row.row 
				.col-lg-6
					h2 Как Вы будете учиться?
					h4 Программа онлайн-практикума<br>«Точка входа»
				.col-lg
					+e.item-wrap
						p Онлайн-практикум – означает, что обучаться Вы будете на онлайн-занятиях, с возможностью сразу задавать вопросы.
						p Записи всех занятий Вы получите навсегда и в любой момент сможете к ним вернуться.
						p #[span Обучение будет состоять из трех блоков.]
			+e.item
				+e.row-title.inner-item
					h3 Вводная часть
					.h5
						+icon('calendar')
						| 4 декабря 2024, онлайн-занятие + запись
				.inner-item: p Начнем мы с самого нуля.
				+e.content
					.inner-item: +e.row.row
						+e.col.col-lg-6
							.h5 Сразу разберемся с брокерским вопросом.
						+e.col.col-lg-6
							ul.point 
								li Кто такой брокер?
								li Как выбрать брокера, который дает полный доступ к рынкам NYSE и NASDAQ?
								li Как выбрать брокера нерезиденту РФ?
								li Брокер для резидента РФ. Как открыть брокерский счет?
								li Как установить торговую платформу?
								li Как настроить торговую платформу? Шаблон для настройки платформы.
								li Покупка/продажа акций. Выставление ордеров.
								li Как решить вопрос задержки котировок?
								li Ввод-вывод денежных средств на счет
					.inner-item: +e.row.row
						+e.col.col-lg-6
							.h5 Ввод-вывод денежных средств на счет
						+e.col.col-lg-6
							ul.point
								li Как отобрать акции для работы, которые сегодня потенциально могут принести от 10% роста?
								li Обзор скринера TradingView для быстрого отбора акций.
								li Настройки скринера.
			+e.row.row
				+e.col.col-lg-6
					p По итогам первой части Вы получите домашнее задание, и мы сделаем перерыв перед стартом основного обучения.
					.h4 #[span Каждый день во время перерыва я буду скидывать в Телеграм список ] потенциальных акций в начале торговой сессии. А после сессии разбирать входы и выходы из сделок.
				+e.col.col-lg-6
					.h4 Вы слышали, как мастера кунг-фу обучали своих учеников? #[span Первый этап всегда был – ходи за мной и смотри, как я это делаю.] 
					p У Вас вводный этап будет точно таким же, он поможет Вашему подсознательному привыкнуть к специфике торговли и запустить нужные мысленные процессы.
			+e.item
				+e.row-title.inner-item
					h3 Основная программа обучения
					.h5
						+icon('calendar')
						| с 16 по 27 декабря 2024, 6 онлайн-занятий + записи
				.inner-item: p Основное обучение проведу в формате онлайн-интенсива. Будет 6 онлайн-занятий в течение двух недель.
				+e.content
					.inner-item: +e.row.row
						+e.col.col-lg-6
							.h5 Основные понятия.
						+e.col.col-lg-6
							ul.point
								li Чем мы торгуем, особенности акций.
								li Какие результаты можно получать?
								li Понятие «уровень 0».
								li Линейная система.
								li Барный график.
								li Выставление уровней.
								li 2 главные аксиомы для успеха.
								li Как решить вопрос задержки котировок?
								li Ввод-вывод денежных средств на счет
					.inner-item: +e.row.row
						+e.col.col-lg-6
							.h5 Вход в сделку
						+e.col.col-lg-6
							ul.point
								li Базовая точка входа.
								li Нюансы и особенности входа в сделку.
								li Выбор цели в сделке.
								li Система быстрой торговли. Торговля в 1 клик. Быстрое выставление ордера.
								li Строим линейный график с ожиданием завершения.
								li Учимся анализировать акции побарным способом.
								li Переключение между линейным и минутным графиком.
								li Задание для отработки точки входа.
					.inner-item: +e.row.row
						+e.col.col-lg-6
							.h5 Как выйти из сделки просто и на максимуме?
						+e.col.col-lg-6
							ul.point
								li Базовая точка выхода для новичка.
								li Продвинутый выход для импульсной торговли.
								li Продвинутый выход для консервативной торговли.
								li Ведение журнала сделок.
					.inner-item: +e.row.row
						+e.col.col-lg-6
							.h5 Опасности. Когда входить нельзя, даже <br>если все складывается хорошо?
						+e.col.col-lg-6
							ul.point
								li Чек-лист ошибок и опасностей.
								li 10 критериев, как исключить из торговли проблемные акции.
								li Как ставить алерты?
								li Как работать на сильном импульсном движении на рынке?
								li Домашнее задание.
					.inner-item: +e.row.row
						+e.col.col-lg-6
							.h5 Анализ результатов
						+e.col.col-lg-6
							ul.point
								li Общий план торговли (стратегический).
								li Тактический план торговли.
								li Анализ и коррекция торговли. Технический и психологический подходы.
								li Подготовка к торговле.
								li Секреты успешного трейдера. Как развивать трейдерские навыки?
								li Старт торговли на реальном счете.
					.inner-item: +e.row.row
						+e.col.col-lg-6
							.h5 Итоги
						+e.col.col-lg-6
							ul.point
								li Работа с мотивацией
								li Сбор стратегии воедино
								li Разбор Ваших вопросов
			+e.row.row
				+e.col
					p Как видите, план занятий объемный и четко структурирован. Все детали и нюансы торговой системы мы разберем от и до.
					.h4  По итогам этих занятий #[span Вы будете на 100% готовы к реальным торгам] (или на демо, на реальном рынке, если Вам так комфортно).
			+e.item
				+e.row-title.inner-item
					h3 Мастер-группа
					.h5
						+icon('calendar')
						| январь – март 2025, онлайн-занятия + рабочий Телеграм-канал
				.inner-item: p Обучение не зря называется Практикум. После окончания основных занятий Вас ждет 3 месяца практического сопровождения на реальном рынке.
				.inner-item: +e.pros-row.row
					+e.col.col-md-6.col-xl
						+b.adv-card
							+e.text #[span Каждые 2 недели мы будем собираться в прямом эфире:] обсуждать рынок, сделки и Ваши отчеты
					+e.col.col-md-6.col-xl
						+b.adv-card
							+e.text #[span Каждый день я буду выкладывать свой предварительный список акций] в начале торговой сессии.
					+e.col.col-md-6.col-xl
						+b.adv-card
							+e.text #[span Каждый день после торговой сессии буду разжевывать логику своих точек входа и выхода.]  Для Вас это будет лучшим практическим обучением и опорой в реальных торгах
					+e.col.col-md-6.col-xl
						+b.adv-card
							+e.text #[span Буду оказывать поддержку и отвечать на Ваши вопросы в группе Инфоклуба.]  Вы сможете присылать мне скриншоты своих сделок и советоваться со мной по торговым ситуациям
				.inner-item: p За эти 3 месяца я помогу Вам разобраться со всеми дополнительными вопросами, которые неизбежно появляются во время практической торговли
			.text-center: +btnBase('Получить доступ в онлайн-практикум «Точка входа»')


	// end sStudy