mixin sQA(data)
	// start sQA
	+b.SECTION.sQA.section#sQA&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Часто задаваемые вопросы
			+ddGroup
				+ddGroupItem('Какие знания должны быть на старте?')
					p Курс подходит как для новичков, так и для продвинутых трейдеров.
				+ddGroupItem('Стратегия работает только на американских акциях?')
					p Да.
				+ddGroupItem('Насколько сложна торговая система? Боюсь, что я не справлюсь.', 'active')
					p Торговая система очень простая, главное – четко ей следовать.
					p Бывает, ученику кажется система слишком простой. Он начинает ее докручивать. Наворачивает, а потом начинает терять деньги. В итоге приходит ко мне на индивидуальное обучение, чтобы я его удержал в рамках изначальной простейшей системы.
					p Система простая, но не надо в нее больше ничего вносить.
				+ddGroupItem('Можно ли практиковаться на демо-счете?')
					p Да, можно практиковаться на демо-счете Just2Trade.
				+ddGroupItem('Какой минимальный депозит необходим для начала торговли?')
					p От 200$.
				+ddGroupItem('Сколько времени надо уделять трейдингу?')
					p 1-3 часа в день. Можно торговать не каждый день, а только в те дни, когда Вам удобно выделить от 1 часа после 17:30 МСК (по зимнему времени).
				+ddGroupItem('Есть ли рассрочка на обучение?')
					p Да, есть несколько видов рассрочки. Заполните форму выше и выберите версию участия, чтобы узнать подробнее и выбрать вариант рассрочки.
				+ddGroupItem('Если у меня есть основная работа, могу ли я зарабатывать в трейдинге?')
					p Конечно! Торговую стратегию всегда можно подстроить под свой темп жизни. Когда американская торговая сессия открывается, в европейской части РФ вечер, поэтому у терминала можно сидеть после работы. Но будьте осторожны! Затягивает так, что трейдинг может стать вашей основной деятельностью

	// end sQA