// start .sVideo
.sVideo {
	--sPT: #{rem(0)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
    --sPB: #{rem(40)};
    --sTPB: #{rem(32)};
    }
	
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(32)};
    margin-bottom: rem(64);
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__item{
		
	}
  iframe {
    width: 100%;
    @include block(96/171);
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sVideo