mixin sEntry(data)
	// start sEntry
	+b.SECTION.sEntry.section#sEntry&attributes(attributes)
		.container
			.section-wrap
				+img('img/svg/entry-bg.svg').entry-bg
				+e.grid
					+e.title
						h4 Тактико-технические характеристики торговой системы
						h2 #[span Точка входа]
					+e.item
						p Рынки:
						.h4 NYSE, <br>NASDAQ
					+e.item
						p Минимальный депозит
						.h4 #[span от 200$]
					+e.item
						p Вход в сделку:
						.h4 механика определения точки входа основана на авторском способе нанесения уровней.
					+e.item
						p Необходимо времени
						.h4 1-3 часа в день, торговая сессия с 17-30 МСК (зимнее время), можно торговать не каждый день.
					+e.item
						p Стоп-лосс
						.h4 жесткий, 4-6%. Большой стоп-лосс оправдывается до 90% положительных сделок.
					+e.item
						p Тейк-профит
						.h4 отсутствует, выход по правилам торговой системы
					+e.item
						p Средняя длительность сделки
						.h4 10-15 минут.
	// end sEntry


mixin sEntry2(data)
	// start sEntry
	+b.SECTION.sEntry.section.mt-0&attributes(attributes)
		.container
			.section-wrap.section-wrap_dark
				+img('img/svg/entry-bg.svg').entry-bg.entry-bg_right
				+img('img/bull.png').bull.img-bg
				+e.content
					+e.wrap.title
						p Приглашаю Вас на онлайн-практикум
						h2 #[span Точка входа]
						.h4 Как находить акцию-сенсацию каждый день?
					+e.wrap: ul.point 
						li Старт с нуля для новичков
						li Простая пошаговая торговая система.
						li Доступно для граждан РФ и граждан других стран.
						li Понятное и удобное обучение в Инфоклубе.
						li Авторский алгоритм поиска точки входа непосредственно перед сильным движением.
						li Проверено ежедневной торговлей с 2020 года и подтверждено публичными результатами.
					+e.wrap
						p Получите ключ к быстрым деньгам в трейдинге
					+e.wrap
						.btn.btn-light.scroll-link.btn-base(href='#form-link') Получить торговую систему сейчас
							<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7096 1.15299L31.113 15.5563L16.7096 29.9597L13.4485 26.6986L22.2847 17.8623L2.30626 17.8623L2.30626 13.2504H22.2847L13.4485 4.41413L16.7096 1.15299Z" fill="url(#paint0_linear_8012_1334)" />
								<defs>
									<linearGradient id="paint0_linear_8012_1334" x1="23.3348" y1="7.77817" x2="7.77847" y2="23.3345" gradientUnits="userSpaceOnUse">
										<stop stop-color="#E90B0B" />
										<stop offset="1" stop-color="#930F0F" />
									</linearGradient>
								</defs>
							</svg>