extends ../layout/main.pug

include ../blocks/footer/_footer.pug
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sSlider/_sSlider.pug
 
include ../blocks/sSuccess/_sSuccess.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sQA/_sQA.pug
include ../blocks/sApply/_sApply.pug
include ../blocks/sLastChance/_sLastChance.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		//- +headerBlock 
		+sApply
		+sQA
		+sLastChance
		+sSlider('P.S. Все еще откладываете решение?', 'Заполните паузу, полистайте сделки из моего Телеграм-канала. Все эти акции я выкладывал публично:')
		+sSuccess
	+footer