mixin sApply(data)
	// start sApply
	+b.SECTION.sApply.section#sApply&attributes(attributes)
		.container
			.section-wrap
				+b.section-title.text-center
					h3 Получите доступ в Практикум прямо сейчас
					h5 Освойте быстрые деньги на волатильных акциях США
				mixin stepCard(text)
					+e.col.col-sm-6.col-lg
						+b.step-card-apply
							p= text
							+img(`img/svg/arrow-bl.svg`).arrow
				+e.row.row
					+stepCard('Введите Ваши данные и нажмите кнопку «Продолжить».')
					+stepCard('Вам откроется страница с описанием версий участия')
					+stepCard('Если необходимо, Вас бесплатно проконсультирует специалист Инфоклуба')
					+stepCard('Выберите подходящую версию участия, оплатите ее стоимость')
					+stepCard('Уже через одну минуту после оплаты Вам откроется доступ в закрытую группу Инфоклуба с обучающими материалами')
				+e.form.form#form-link
					.form-title.text-center
						h4 Лучшие условия доступны самым быстрым!
						p Введите свои данные прямо сейчас, чтобы выбрать выгодный комплект:
					<div id="bf349" class="inbfrm v2">
						<div id="bf349_inner">
							<div class="title" >Ваши данные</div>
							<form id="bf349_form" action="//info-dvd.ru/bbm/order/price_table_null_tradingvisionpro/?bform_id=349" method="POST" accept-charset="windows-1251" onsubmit="return bf349.check();" >
								<input type="hidden" name="good_id" value="price_table_null_tradingvisionpro">
								<input type="hidden" name="bform_id" value="349">
								<input type="hidden" name="comment_author" value="">
								<input type="hidden" name="comment_text" value="">
								<input type="hidden" name="promocode" value="">
								<div class="input_line">
									<input name="fullname" type="text" class="text" value="" placeholder="Ваши ФИО" required="required"/>
								</div>
								<div class="input_line">
									<input name="email" type="email" class="text" value="" placeholder="Ваш емэйл" required="required"/>
								</div>
								<div class="input_line">
									<input name="phone" type="text" class="text" value="" placeholder="Ваш телефон" required="required"/>
								</div>
								<div class="submit_line">
									<input type="submit" class="button" name="submit" value="Продолжить">
								</div>
								<div class="privacy_agreement_block">
									<label>
										<input type="checkbox" name="oferta_warn" value="1" checked="checked" required="required"> <span class="ibfm_txt">Я согласен с условиями</span> <a href="javascript:void(0)" onclick="return window['bf349'].popup(`https://info-dvd.ru/bbm/../../oferta?popup=1`, `win`, 1050, 450); return false;">публичной оферты</a>
									</label>
								</div>
							</form>
						</div>
					</div>
					script.
						window.setTimeout(function() {
							(function (d, w, src, r, c) {
								var rid = r.toString().substr(2);
								var n = d.getElementsByTagName("script")[0],s = d.createElement("script"),
									f = function () { n.parentNode.insertBefore(s, n); };
								var p=d.location.protocol;
								if (p!='http:' && p!='https:' && src.indexOf('//')==0){src='http:'+src}
								s.type = "text/javascript";
								s.async = true;
								s.src = src+(src.indexOf('?')==-1 ? '?' : '&')+'r='+rid;
								if (w.opera == "[object Opera]") {
									d.addEventListener("DOMContentLoaded", f, false);
								} else {
										f();
									}
								if (c) {
									s.addEventListener('load', function (e) {
										c(null, e);
									}, false);
								}
							})(document, window, "//info-dvd.ru/bbm/js/bbm_form.js", Math.random(), function(){
								window['bf349'] = new BbmFormMng({
									id: 'bf349',
									langs: {
										errors : {
											email_pattern: 'Введите корректный адрес электронной почты.',
											alphanumeric_pattern: 'Может содержать только маленькие английские буквы и цифры',
											phone_pattern: 'Некорректный формат телефона',
											zip_pattern: 'Некорректный формат почтового индекса',
											empty_field: 'Это поле необходимо заполнить.',
											min_limit: 'Укажите значение не меньше ',
											oferta_warn: 'Необходимо согласиться с условиями публичной оферты!'
										},
										processing: 'Обработка...'
									}, rules: {
										kupon:['alphanumeric'],
											phone:['phone', 'required'],
											email:['required', 'email'],
										fullname:['required']
									},
								phone_verification: false});
							});
						}, 0);
	// end sApply
