mixin sYouCan(data)
	// start sYouCan
	+b.SECTION.sYouCan.section#sYouCan&attributes(attributes)
		.container
			.section-wrap
				+b.section-title.text-center
					h2 Почему у Вас точно получится?
				mixin stepCard(title, p)
					+e.item
						.h4=title
						p=p
				+e.grid
					+stepCard('Вы получаете простую систему торговли.', 'Я помогу Вам ее легко освоить. Все, что от Вас требуется – дисциплина и неукоснительное соблюдение торговой стратегии.')
					+stepCard('Я торгую сам по этой стратегии КАЖДЫЙ ДЕНЬ с 2020 года', 'она работает, как часы. Вероятность появления волатильности и точки входа в течение дня около 70%.')
					+stepCard('Обучение с нуля', 'Не нужны никакие начальные знания и навыки, чтобы зарабатывать на акциях США. Это доступно реально каждому.')
					+stepCard('Моя личная поддержка', 'Несмотря на групповой формат обучения, я стараюсь уделить внимание каждому ученику. Ваши успехи важны для меня так же, как и мои собственные.')
					+stepCard('Четкие пошаговые инструкции', 'Каждый шаг торговой системы прост и однозначен. Нет места догадкам и неопределенности. Вы точно будете знать, что, когда и как делать.')
				+e.btn-wrap.text-center
					h4 Поверьте в себя и начните зарабатывать реальные деньги уже на этой неделе!
					.btn.btn-light.btn-base.link-modal-js&attributes(attributes)(href='#') Получите торговую систему «Точка входа» прямо сейчас
						+icon('btn-arrow')
	// end sYouCan
