.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// @include media-breakpoint-up(md) {
			--bs-gutter-y: var(--bs-gutter-x);
      align-items: center;
      position: absolute;
      top: rem(27);
      @include media-breakpoint-up(md) {
        top: rem(47);
      }
      left: calc(var(--bs-gutter-x) / 2);
		// }

	}
  .container {
    position: relative;
    width: 100%;
  }
	
  // padding-top: rem(47);


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


