mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		.container
			.section-wrap
				+b.section-title
					p Обо мне
					h2 Станислав Добровский
				+e.row.row
					+e.col.col-lg-7
						ul.point
							li Частный трейдер, торгую с 2006 года.
							li Практикующий психолог, знаю, как научить мозг помогать Вам в трейдинге, а не мешать.
							li Самостоятельно пришел к способу находить высоколиквидные акции, которые дадут рост именно сегодня.
							li Публично выкладываю акции с потенциалом роста, ежедневно с 2022 года.
							li Обучил своей торговой системе более 500 учеников.
							li Достиг своей главной цели в трейдинге – каждый день зарабатывать быструю прибыль с минимальными действиями. 
					+e.col.col-lg-5
						+img('img/sAuthor-img.png').author
						+img('img/svg/decor-1.svg').decor.decor-bg
						+img('img/svg/decor-2.svg').decor.decor-top
			+e.row-content.row
				+e.col.col-lg-7: +e.wrap
					p Мой почти 20-летний опыт в трейдинге не всегда был успешен.<br>Я пробовал разные рынки и десятки торговых стратегий.
					p Не всегда понимал, что делаю. Еще больше не понимал, как оценивать полученный результат, будь то прибыль или очередные убытки.
					p Периодически бросал и уходил в бизнес. Доводил предприятие до прибыльности. Потом рутина: закупки, проверки, контроль сотрудников... Становилось скучно. Продавал очередное предприятие и возвращался в трейдинг.
					p Один раз стало скучно совсем. Решил больше не возвращаться в бизнес, пока не достигну амбициозной цели в трейдинге.
					.h4 Поставил себе задачу делать +30% в месяц.
					p Возможность делать такую прибыль нашел быстро. Но оставалась проблема выстроить рабочую систему, т.к. нужно было контролировать много параметров.
					p #[span В 2020 году многочисленные эксперименты и опыт сложились в 3-шаговую стратегию, простую, с понятным входом в сделку и понятным выходом. И ДАЕТ БОЛЕЕ 30% в месяц.]
				+e.col.col-lg-5
					+e.accent-wrap 
						p Если Вы читаете эти строки, наверняка Вы тоже поставили цель найти способ делать в трейдинге +30% в месяц.
						p Как достичь этой цели?
						p Пройти через свои ошибки, потратить кучу времени, перерыть тонны литературы?
						p Или повторить уже пройденный опыт, выиграть время и быть в плюсе? Решать Вам.

	// end sAuthor